@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=BBH+Bogle&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f1f1f;
  font-family: 'BHH Bogle', Ubuntu, sans-serif;
  color: #fff6ca;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 450px;
  height: 750px;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  background-color: #3c3836;
  border-radius: 1em;
  z-index: 1;
}

input {
  background-color: #1f1f1f;
  font-family: inherit;
  padding: 0.4rem;
  margin: 0.4rem auto;
  width: 98%;
  height: 25%;
  border: none;
  border-radius: 1em;
  color: #fff;
  text-align: right;
  font-size: 4em;
  font-family: inherit;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 0.5em;
  align-content: center;
}

button {
  font-family: inherit;
  width: 100px;
  height: 100px;
  border: none;
  border-radius: 50%;
  background-color: #1f1f1f;
  color: #fff;
  font-size: 3em;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
}
